<h1>Lessen</h1>

<% @class_types.each do |class_type| %>
  <section class="class-type">
    <h2><%= class_type.name %></h2>

    <% sessions = @sessions_by_class_type[class_type.id] || [] %>
    <% if sessions.any? %>
      <ul class="sessions">
        <% sessions.each do |session| %>
          <% confirmed_count = @bookings_count_by_session.fetch(session.id, 0) %>
          <% spots_left = [session.capacity - confirmed_count, 0].max %>
          <li>
            <strong><%= l(session.starts_at, format: :long) %></strong>
            <% if session.trainer.present? %>
              &mdash; <span>Trainer: <%= session.trainer&.user&.email %></span>
            <% end %>
            <span>(<%= spots_left %> plekken vrij)</span>
            <%= link_to 'Details', storefront_session_path(session) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Geen sessies gepland in de komende weken.</p>
    <% end %>
  </section>
<% end %>
