<%# themes/default/spree/account/_account_nav.html.erb %>
<%# Helpers die per versie kunnen verschillen -> veilige fallbacks %>
<% orders_path     = (spree.account_orders_path     rescue '/account/orders') %>
<% addresses_path  = (spree.account_addresses_path  rescue '/account/addresses') %>
<% profile_path    = (spree.edit_account_path       rescue '/account/profile/edit') %>
<% logout_path     = (spree.destroy_spree_user_session_path rescue '/user/sign_out') %>
<% credits_path    = (main_app.account_credits_path rescue '/account/credits') %>

<nav class="account-nav" data-hook="account_navigation">
  <ul class="flex gap-6 overflow-x-auto px-4 border-b border-default">

    <li data-hook="account_my_credits">
      <%= link_to "💰 Credits",
                  credits_path,
                  class: "py-3 block #{'font-semibold border-b-2' if local_assigns[:current] == 'credits'}" %>
    </li>

    <li data-hook="account_my_orders">
      <%= link_to Spree.t(:orders),
                  orders_path,
                  class: "py-3 block #{'font-semibold border-b-2' if local_assigns[:current] == 'orders'}" %>
    </li>

    <li data-hook="account_my_addresses">
      <%= link_to Spree.t(:addresses),
                  addresses_path,
                  class: "py-3 block #{'font-semibold border-b-2' if local_assigns[:current] == 'address'}" %>
    </li>

    <li data-hook="account_my_profile">
      <%= link_to Spree.t(:account),
                  profile_path,
                  class: "py-3 block #{'font-semibold border-b-2' if local_assigns[:current] == 'account'}" %>
    </li>

    <li data-hook="account_logout" class="ml-auto">
      <%= link_to Spree.t(:logout),
                  logout_path,
                  method: :delete,
                  class: "py-3 block" %>
    </li>
  </ul>
</nav>