<!DOCTYPE html>
<html>
  <head>
    <title>SpreeStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Home', root_path %>
        <% if spree_current_user %>
          <%= link_to 'Lessen', storefront_classes_path %>
          <%= link_to 'Mijn boekingen', storefront_account_bookings_path %>
          <%= link_to 'Uitloggen', spree_logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Inloggen', spree_login_path %>
        <% end %>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render "storefront/shared/mobile_credits_bar" %>
  </body>
</html>